{% extends 'Noteapp/main.html' %}
{% block form %}
<form class="d-flex" action="" method="get">
    <div class="input-group">
            <input type="search" name="q" class="form-control" placeholder="Search...">
            <button class="btn btn-outline-light" type="submit">Search</button>
    </div>
</form>
{% endblock %}
{% block content %}
<div class="main-container">
    <div class="card">
            <div class="sec-header"><h3>All Subjects</h3></div>
            
            <hr><a href="">Add NEW</a>
            <div>
                    {% for subject in subjects %}
                            <h4><a href="{% url 'subject' subject.id %}">{{subject}}</a></h4>
                            <hr>
                    {% endfor %}
            </div>
    </div>
    <div class="card main-card">
            <div  class="sec-header">
                <h3 class="card-title" style="display: inline-block; width: 50%;"">{{ note.title }}</h3>
                <a class="btn-link" href="{% url 'editNote' note.id %}" style="background-color: green;">📝Edit</a>
                <a class="btn-link" href="{% url 'deleteNote' note.id %}" style="background-color: red;">🗑️Delete</a>
       
        </div>
            
            <hr>
            <div class="">
                
                <p class="card-text">{{ note.note }}</p>
            </div>
    </div>
    <div class="card">
            <div class="sec-header"><h3>Recent Notes</h3></div>
            <hr>
    </div>
</div>

{% endblock %}