{% extends 'Noteapp/main.html' %}
{% block content %}
<style>
    form{
        width: 300px;
        padding: 30px;
        background: #eee;
        margin: 10% auto;
        border-radius: 5px;
        border: solid rgb(190, 190, 190) 1px;
        box-shadow: 1px 2px 3px;
    }
    form h2{
        text-align: center;
        margin-bottom: 20px;
    }
    form ul{
        display: none;
    }
    form input{
        width: 150px;
        height: 30px;
        border: 1px solid #ddd;
        margin: 10px 0;
        padding-left: 10px;
    }
    form label{
        font-weight: bold;
        width: 100px;
    }
    form button{
        width: 120px;
        height: 40px;
        background: #333;
        color: #fff;
        font-weight: 500;
        cursor: pointer;
        border: none;
    }
</style>

<form action="" method="post">
    {% csrf_token %}

    {% if page == "signup" %}
        <h2>Signup</h2>
        {{form.as_p}}
        <button type="submit">Signup</button>
        <p>Already Have an acount Signin <a href="{% url 'login' %}">Here!</a></p>
    {% else %}
        <h2>Signin</h2>
        <Label for="username" >Username:</Label>
        <input type="text" name="username" class="username" placeholder="Username">
        <label for="password">Password</label>
        <input type="password" name="password" class="password" placeholder="Password">
        <button type="submit">Signin</button>
        <p>Don't Have an acount Create <a href="{% url 'signup' %}">Here!</a></p>
    {% endif %}
</form>




{% endblock %}