{% extends 'Noteapp/main.html' %}
{% block form %}
<style>
    form{
        margin: 10px;
        padding: 5px;
    }
    .Search{
        margin: 0px;
        height: 30px;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        width: 190px;
        border-collapse: collapse;
        padding-left: 20px;
    }
    .Submit{
        margin: -5px;
        height: 30px;
        width: 60px;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        border-collapse: collapse;
    }
</style>
<form class="d-flex" action="" method="get">
        <div class="input-group">
                <input type="search" name="q" class="form-control" placeholder="Search...">
                <button class="btn btn-outline-light" type="submit">Search</button>
        </div>
</form>
{% endblock %}
{% block content %}
<style>
    .main-container{
            display:  grid;
            grid-template-columns: 1fr 3fr 1fr;
            min-height: 100px;
            
            justify-self: center;
            justify-content: center;
            min-width: 1fr;
    }
    .card{
            border:  solid black 1px;
            margin: 2px;
            border-radius: 5px;
            min-width: 200px;
            background-color: white;
            padding: 5px;
    }
    .main-card{
            min-width: 450px;
    }
</style>
<div class="main-container">
    <div class="card">
            <div><h3>All Subjects</h3></div>
            
            <hr><a href="">Add NEW</a>
            <div>
                    {% for subject in subjects %}
                            <h4><a href="{% url 'subject' subject.id %}">{{subject}}</a></h4>
                            <hr>
                    {% endfor %}
            </div>
    </div>
    <div class="card main-card">
            <div><h3>{{subject}}</h3></div>
            <a href="">ADD NOTE</a>
            <a href="">DELETE SUBJECT</a>
            <hr>
            <div>
                <p><b>Description: </b>{{subject.description}}</p>
            </div>
            <hr>
            <div>
                {% if notes %}
                    {% for note in notes %}
                            <p><b>{{note.subject}}</b></p>
                            <h4><a href="{% url 'note' note.id %}">{{note.title}}</a></h4>
                            <p>{{note}}...</p>
                            <div><small>{{note.updated|timesince }}</small></div>
                            <hr>
                    {% endfor %}
                {% else %}
                        <h5>No note yet!</h5>
                {% endif %}
            </div>
    </div>
    <div class="card">
            <div><h3>Recent Notes</h3></div>
            <hr>
    </div>
</div>
{% endblock %}