{% extends 'Noteapp/main.html' %}
{% block form %}
<style>
    form{
        margin: 10px;
        padding: 5px;
    }
    .Search{
        margin: 0px;
        height: 30px;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        width: 190px;
        border-collapse: collapse;
        padding-left: 20px;
    }
    .Submit{
        margin: -5px;
        height: 30px;
        width: 60px;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        border-collapse: collapse;
    }
</style>
<form class="d-flex" action="" method="get">
        <div class="input-group">
                <input type="search" name="q" class="form-control" placeholder="Search...">
                <button class="btn btn-outline-light" type="submit">Search</button>
        </div>
</form>
{% endblock %}
{% block content %}

{% endblock %}